@model IEnumerable<Post>

@{

}

    <div class="d-flex" id="wrapper">

        <partial name="_AdminNavbar" />
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>

            <div class="container-fluid">
                <div class="table-responsive">
                    <table class="table table-stripped table-hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Title</th>
                                <th>Body</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Tags</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var post in Model)
                            {
                                <tr>
                                    <td>@post.Id</td>
                                    <td>@post.Title</td>
                                    <td>@post.Body</td>
                                    <td>@post.Description</td>
                                    <td>@post.Category</td>
                                    <td>@post.Tags</td>
                                    <td>@post.Created</td>
                                    <td>
                                        <a asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Id">
                                            Edit
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-controller="Panel" asp-action="Remove" asp-route-id="@post.Id">
                                            Remove
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->
    </div>
