@model IEnumerable<Truck>
@{ ViewData["Title"] = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<link href="~/css/portfolio.css" rel="stylesheet" />

<!--  ======================= Start Main Area ================================ -->
<main class="site-main">
    <!--  ======================= Project Area =============================  -->
    <section class="project-area">
        <div class="container">
            <div class="col-lg-12">
                <div class="project-title pb-5">
                    <h1 class="text-uppercase title-h1">User Friendly System</h1>
                    <h1 class="text-uppercase title-h1">Check out the truck</h1>
                    <hr />
                </div>
                <ul class="filters text-center">
                    <li class="active" data-filter="*"><a href="#!">All</a></li>
                    <li data-filter=".truck47"><a href="#!">Truck 47</a></li>
                    <li data-filter=".truck12"><a href="#!">Truck 12</a></li>
                    <li data-filter=".truck17"><a href="#!">Truck 17</a></li>
                    <li data-filter=".truck23"><a href="#!">Truck 23</a></li>
                    <li data-filter=".truck12"><a href="#!">Truck 12</a></li>
                </ul>
                <div class="projects">
                    <div id="card" class="row grid justify-content-center">
                        @foreach (var truck in Model)
                        {
                            var image_path = $"/TruckPhoto/{truck.TruckPhoto}";

                            <div class="col-lg-4 item @truck.TruckNumber">
                                <div class="card">
                                    <div class="card-head">
                                        <img src="@image_path" alt="" class="img-fluid card-img">
                                        <div class="card-overlay"><h2>@truck.Name</h2></div>
                                        <div class="card-hover">
                                            <h2>Driver: @truck.Name</h2>
                                            <p>Details: @truck.Details</p>
                                        </div>
                                    </div>

                                    <div class="card-body text-center">
                                        <h4 class="title">@truck.Name</h4>
                                        <a href="@truck.Link" class="btn btn-lg card-btn">Goto Page</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
                <!--<div class="container-fluid">
                    <div class="table-responsive">
                        <table class="table table-stripped table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Detail</th>
                                    <th>Language</th>
                                    <th>Link</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var truck in Model)
                                {
                                <tr>
                                    <td>@truck.Id</td>
                                    <td>@truck.Name</td>
                                    <td>@truck.TruckNumber</td>
                                    <td>@truck.Details</td>
                                    <td>@truck.TruckPhoto</td>
                                    <td>@truck.Link</td>
                                    <td>
                                        <a asp-controller="Panel" asp-action="Edit" asp-route-id="@truck.Id">
                                            Edit
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-controller="Panel" asp-action="Remove" asp-route-id="@truck.Id">
                                            Remove
                                        </a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>-->
                <!-- /#page-content-wrapper -->
            </div>
        </div>
    </section>
    <!--  ======================= End Project Area =============================  -->
</main>
<!--  ======================= End Main Area ================================ -->
@section Scripts{
    <script src="~/lib/js/truck.js"></script>
}
